<h1><%= @brewery.name %></h1>

<p><strong>Address:</strong> <%= @brewery.address %></p>
<p><strong>Phone:</strong> <%= @brewery.phone %></p>
<p><strong>Website:</strong> <%= @brewery.website %></p>

<h2>Beers</h2>
<ul>
  <% @beers.each do |beer| %>
    <li><%= link_to beer.name, brewery_beer_path(@brewery, beer) %></li>
  <% end %>
</ul>